body{
    font-family: cursive;
    /* El fondo de la pagina web toma la imagen de la URL */
    background-image: url(/practicas/img/fondo.jpg);
    /* La imagen de fondo no se repite */
    background-repeat: no-repeat;
    /* Con Cover la imagen toma el tamaño del contenedor */
    background-size: cover;
    margin: 0;
}
.header-title{
    /* Permite alinear UN SOLO elemento dentro de un contenedor flex, en este caso el header-title se alinea al centro del contenedor header. */
    align-self: center;
    margin-bottom: 10px;
    margin-top: 5px;
}
.header{
    /* rgb dentro de color define el color del texto en que tanto de rojo, verde y azul y opcional la opacidad o transparecia que va de 0.0 a 1.0 */
    color: rgba(249, 249, 249, 0.6);
    /* Activamos flex para usar flexobox y asi alinear los elementos */
    display: flex;
    /* Le da una direccion a los elementos, en este caso en columna */
    flex-direction: column;
    font-size: 20px;
    background-color: rgba(29, 28, 57, 0.8);
    border-radius: 20px ;
    border: 4px ridge rgb(13, 4, 79);
    height: 80px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section{
    color: #ffffff;
    text-decoration: none;
}
h1{
    color: rgb(13, 4, 79);
    /* opacity le da transparencia a un elemento, va de 0.0 a 1.0, siendo 0.0 completamente transparente y 1.0 completamente opaco */
    opacity: 1.0;
    display: flex;
    justify-content: center;
}
.txt{
    background-color: rgba(29, 28, 57, 0.5);
    border-radius: 20px ;
    border: 4px ridge rgb(13, 4, 79);
    color: rgb(249, 249, 249);
    width: 80%;
    margin: auto;
    padding: 10px;
    font-size: 120%;
    text-align: justify;
}
/*.container-html{
    background-color: rgba(29, 28, 57, 0.5);
    border-radius: 20px ;
    border: 4px ridge rgb(13, 4, 79);
    color: rgb(249, 249, 249);
    width: 35%;
    margin-top: 50px;
    margin-left: 130px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    text-shadow: 3px 4px 3px rgba(57, 118, 249, 0.705);
}*/
.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}
.container {
    background-color: rgba(29, 28, 57, 0.5);
    border-radius: 20px;
    border: 4px ridge rgb(13, 4, 79);
    color: white;
    width: 35%;
    min-height: 950px;
    padding: 10px;
    margin-top: 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    width: 250px;
    height: 250px;
}
.tit{
    width: 250px;
    height: 50%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 3px 4px 3px rgba(57, 118, 249, 0.705);
}
.lista {
    flex-grow: 1;
    text-align: justify;
    margin-left: 10px;
}
li{
    text-shadow: 3px 4px 3px rgba(57, 118, 249, 0.705);
    font-size: 20px;
}
.definicion{
    font-size: 17px;
}
h3{
    text-shadow: 3px 4px 3px rgba(57, 118, 249, 0.705);
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
}
footer{
    background-color:rgb(13, 4, 79);
    color: white;
    width: 100%;
    margin-top: 70px;
}
.columnas{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 15px 0 0 20px;
}
.column{
     width: 30%;
    color: white;
    text-align: justify;
}
